# Core ML & Data Science
pandas
numpy
scikit-learn
matplotlib
seaborn

# Prediction Model Specific
xgboost
shap

# RAG & Generative AI
langchain
langchain-community
langchain-google-genai
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf

# Environment & Utilities
python-dotenv
jupyterlab
notebook
